# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Library/Sources/html
Library/Sources/latex
# Compiled Static libraries
#*.exe
*.ilk
*.tlog
*.obj
*.user
*.opensdf
*.sdf
*.suo
*.idb
*.pdb
