# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Library/Sources/html
Library/Sources/latex
# Compiled Static libraries
#*.exe
*.ilk
*.tlog
*.obj
*.user
*.opensdf
*.sdf
*.suo
*.idb
*.pdb

/Debug.win32

/Debug

/Examples/Debug

/Library/Debug

/Release.win32

/Release

/ipch/gafplayer-b41ae148/*.ipch

/ipch/gafplayer-9375c618/*.ipch
/Examples/Example.android/assets
/Examples/Example.android/bin
/Examples/Example.android/gen
/Examples/Example.android/libs
/Examples/Example.android/obj
/Examples/Example.wp8-xaml/App/Assets/Resources
/Examples/Example.wp8-xaml/App/Bin
/Examples/Example.wp8-xaml/App/obj
/Examples/Example.wp8-xaml/ARM
/Examples/Example.wp8-xaml/Debug
/Examples/Example.wp8-xaml/Release
/Examples/Example.wp8-xaml/ipch
/js_bindings/tojs/userconf.ini
/lua_bindings/tolua/userconf.ini
*.pyc
