# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Library/Sources/html
Library/Sources/latex
# Compiled Static libraries
#*.exe
*.ilk
*.tlog
*.obj
*.user
*.opensdf
*.sdf
*.suo
*.idb
*.pdb

/Debug.win32

/Debug

/Examples/Debug

/Library/Debug

/Release.win32

/Release

/ipch/gafplayer-b41ae148/*.ipch

/ipch/gafplayer-9375c618/*.ipch
/ipch/gafplayer_vc10-78a05117/*.ipch
/ipch/gafplayer-c4b995e/*.ipch
/Library/Release/*.pch
/Library/Release/*.log
/Library/Release/*.lastbuildstate
/Library/Release/*.codeanalysis
